/*__________Default Variables__________*/
:root {
  --primary-color: #332F2E;
  --secondary-color: lightgreen;
  --big-font: clamp(2rem, 10vw, 2.8rem);
  --medium-font: clamp(1.7rem, 6vw, 2.4rem);
  --small-font: clamp(1.5rem, 4.5vw, 1.8rem);
  --extra-small-font: clamp(1.4rem, 3vw, 1.6rem);
  --h5-small-font: clamp(1.2rem, 2vw, 1.4rem);
  --padding-small: 1rem;
  --padding-medium: 2rem;
  --padding-large: 2rem;
  --padding-extra-large: 3rem;
  --box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px, rgba(0, 0, 0, 0.3) 0 1px 3px -1px;
}

/*__________Default Styling__________*/

* {
  box-sizing: border-box;
}

body {
    font-family: 'Staatliches', cursive;
    font-weight: 400;
    font-size: var(--small-font);
    line-height: 1.8;
}

h1 {
    font-size: var(--big-font);
    font-weight: 700;
}

h2 {
    font-size: var(--medium-font);
    font-weight: 400;
}

h3 {
    font-size: var(--small-font);
    text-transform: uppercase;
    font-weight: 400;
}

h4 {
    font-size: var(--extra-small-font);
    font-weight: 300;
    text-transform: capitalize;
}

h5 {
    font-size: var(--h5-small-font);
    font-weight: 300;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

/*__________Navigation Bar Styling__________*/

.navbar {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 0.5rem 1rem;
  box-shadow: var(--box-shadow);
}

.navbar-img {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: auto;
  padding: 2rem;
  max-width: 100%;
  border-style: none;
  justify-content: center;
}

.navbar-links {
  text-decoration: none;
}

.navbar-links {
  background-color: red;
  border: 0.16em solid rgba(255, 255, 255, 0);
  color: white;
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 0 0.1em 0.1em 0;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: blue;
  border: 2px solid rgb(255,203,3);
  border-radius: 2rem;
  transition: all 0.2s;
}

.navbar-links:hover {
  border-color: rgb(30, 66, 167);
  background-color: rgb(223, 184, 12);
  color: rgb(37, 39, 201);
  font-weigth: 700;
}

/*__________Pokemon List Styling__________*/

.flex {
  display: flex;
  text-align: center;
}

.text {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  text-align: center;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  grid-gap: 20px;
}

.pokemon-list {
  list-style-type: none;
}

.button-class {
  text-transform: uppercase;
}

/*__________Default Containment__________*/

@media all and (max-width: 500px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (min-width: 750px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/*__________Ultraball Styling__________*/


/* Button Styling for individual Pokemon */
.button-class {
  background-color: red;
  border: 0.16em solid rgba(255, 255, 255, 0);
  color: white;
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 0 0.1em 0.1em 0;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 2em;
  transition: all 0.2s;
}

.button-class:hover {
  border-color: rgb(30, 66, 167);
  background-color: rgb(223, 184, 12);
  color: rgb(37, 39, 201);
  font-weigth: 700;
}

/* MODAL STYLING */
.modal-container {
  display: flex;
  position: fixed;
  padding: 10px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba (0, 0, 0, 0.5);
  z-index: 999;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal {
  font-family: inherit;
  margin: auto;
  display: flex;
  box-sizing: border-box;
  background: #fff;
  box-shadow: 0 0 10px;
  border-radius: 10px;
  padding: 15px;
  width: 75vw;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.is-visible {
  display: grid;
}

.modal__img {
  width: auto;
  height: auto;

}

.modal-close {
  align-self: flex-end;
  -webkit-appearance: none;
  border: 0;
  color: #777;
  text-decoration: underline;
}

.modal h1 {
  margin-top: 1px;
}

.modal p {
  margin-bottom: 1px;
}

#modal-container {
  display: block;
}

#modal-container.is-visible {
  display: block;
}
