/* Containing the content for all platforms */
.container {
  margin: 0 auto;
  max-width: 100%;
}

.pokemon-list {
  display: grid;
  grid-template-columns: auto;
  text-align: center;
  justify-content: center;
  grid-gap: 20px;
}

.main-pokedex {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  max-width: 100%;
}

.grid {
  display: flex;
  max-width: 100%;
  margin: 0 auto;
}

@media all and (max-width: 500px) {
  .container {
    margin: 0 auto;
    max-width: 100%;
  }
  .pokemon-list {
    grid-template-columns: 1fr;
  }
  .grid {
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .container {
    margin: 0 auto;
    max-width: 100%;
  }
  .pokemon-list {
    grid-template-columns: 1fr 1fr;
  }
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .container {
    margin: 0 auto;
    max-width: 100%;
  }
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* Button Styling for individual Pokemon */
.button-class {
  background-color: red;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid black;
}

/* Removes dot from list */
.pokemon-list {
  list-style-type: none;
}

.pokedex-container {
  display: block;
  text-align: center;
}

.main-pokedex {
  display: block;
  text-align: center;
  border: 1px solid black;
}

.pokemon-list {
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr;
}

/* HEADER STYLING */
.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
  text-align: center;
  margin: 0 auto;
  max-width: 700px;
}

.header-img {
  display: inline-block;
  text-align: center;
  padding: 20px 20px;
}

/* MODAL STYLING */
.modal-container {
  display: flex;
  position: fixed;
  padding: 10px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba (0, 0, 0, 0.5);
  z-index: 999;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal {
  font-family: inherit;
  margin: auto;
  display: flex;
  box-sizing: border-box;
  background: #fff;
  box-shadow: 0 0 10px;
  border-radius: 10px;
  padding: 15px;
  width: 75vw;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.is-visible {
  display: grid;
}

.modal__img {
  width: auto;
  height: auto;
}

.modal-close {
  align-self: flex-end;
  -webkit-appearance: none;
  border: 0;
  color: #777;
  text-decoration: underline;
}

.modal h1 {
  margin-top: 1px;
}

.modal p {
  margin-bottom: 1px;
}

#modal-container {
  display: block;
}

#modal-container.is-visible {
  display: block;
}
